<div id="addJobModal" class="modal fade login-modal" role="dialog">
    <div class="modal-dialog login-modal-dialog">
        <div class="modal-content login-modal-content">
            <div class="modal-header login-modal-header">
                <div class="modal-title login-modal-title text-center" data-ng-bind="addJobText"></div>
            </div>
            <div class="modal-body login-modal-body row">
                <div class="form-container">
                    <div data-ng-include="'views/form/addJobForm.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
