<div id="loginModal" class="modal fade login-modal" role="dialog">
    <div class="modal-dialog login-modal-dialog">
        <div class="modal-content login-modal-content">
            <div class="modal-header login-modal-header">
                <div class="modal-title login-modal-title text-center" data-ng-bind="loginText"></div>
            </div>
            <div class="modal-body login-modal-body row" data-ng-if="!isRegistration">
                <div class="login-image-container col-xs-4 text-center" data-ng-repeat="(selectedRole, selection) in loginSelectors" data-ng-if="(!isRoleSelected) || (isRoleSelected && loginText===selection.loginText)">
                    <img src="{{selection.image}}" alt="Logo" class="logo-binder" />
                    <div class="button-container {{selection.cssClass}}" data-ng-click="displayLogin(selection, selectedRole)" data-ng-if="!isRoleSelected">
                        <div class="role-binder" data-ng-bind="selectedRole"></div>
                    </div>
                </div>
                <div class="col-xs-8 login-form-container" data-ng-if="isRoleSelected">
                    <div data-ng-include="'views/form/login-form.html'"></div>
                </div>
            </div>
            <div class="modal-body login-modal-body row" data-ng-if="isRegistration">
                <div class="login-image-container text-center">
                    <img src="{{selectedRoleObject.image}}" alt="Logo" class="logo-binder" />
                </div>
                <div class="navigation-container text-center">
                    <span class="navigator fa fa-angle-left pull-left" data-ng-class="{'disabled':disableLeftNavigation}" data-ng-click="navigateRegistration(!disableLeftNavigation, false)"></span>
                    <span class="navigation-header" data-ng-bind="formHeader"></span>
                    <span class="navigator fa fa-angle-right pull-right" data-ng-class="{'disabled':disableRightNavigation}" data-ng-click="navigateRegistration(!disableRightNavigation, true)"></span>
                </div>
                <div class="form-container">
                    <div data-ng-include="'views/form/formBuilder.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
