<div class="header-container" data-ng-controller="afterLoginHeaderController">
  <div class="container content-container">
    <span class="logo-container">
      <img src="images/logo.svg" alt="Logo" class="logo-binder dashboard-logo-binder">
    </span>
    <span class="signIN-container left-margin pull-right">
      <div class="text-binder" data-ng-bind="headerLogout" data-toggle="modal"></div> 
    </span>
    <span class="signIN-container left-margin pull-right">
      <div class="text-binder" data-ng-bind="headerProfile" data-toggle="modal"></div>
    </span>
  </div>
</div>
