 p.font{
    font-size: 18px;
    text-align: center;
    font-weight:500px
}
h2.font{
     text-align: center;
      font-weight:bold
}
md-select.style1{
  margin-left: 33px;
width: 290px;
margin-top: 30px;
 
   
}
md-select.style3{
  margin-left: 33px;
width: 127px;
margin-top: 30px;
 
   
}
button.btn-info{
      margin-left: 33px;
width: 290px;
   margin-top: 20px;
    border-radius: 25px;
       
        height: 40px;
}
p.style2{
    margin-top: 20px;
     margin-left: 46px;
}
img.image{
    width: 250px;
     margin-left: 46px;
}