<form name="formValidator" class="form-validator" novalidate autocomplete="off" ng-submit="formValidator.$valid">
    <div class="form-group form-validator-group text-center">
        <div class="form-field-container">
            <md-input-container class="material-input-container" data-ng-repeat="(formKey, formField) in forgotPasswordFormBuildInfo">
                <label class="control-label" data-ng-bind="formField.title"></label>
                <input type="{{formField.type}}" data-ng-model="formField.formModel" class="form-control" name="name{{$index}}" data-ng-required="formField.required" data-ng-pattern="formField.pattern" ng-maxlength="formField.maxLength">
            </md-input-container>
        </div>
    </div>
    <div class="text-center">
        <div class="inactive-button-container" data-ng-class="{'button-container':formValidator.$valid}">
            <div class="text-binder" data-ng-click="forgotPasswordRequest(!formValidator.$valid)">Send Request</div>
        </div>
    </div>
    <div class="interactive-container">
        <div class="invalid-credentails-container" data-ng-if="invalidEmail && !checkEmail"><span data-ng-bind="invalidEmail"></span></div>
        <div class="correct-credentails-container" data-ng-if="checkEmail && !invalidEmail"><span data-ng-bind="checkEmail"></span></div>
    </div>
</form>
