<div id="addJobModal" class="modal fade addJob-modal" role="dialog">
    <div class="modal-dialog addJob-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title addJob-modal-title text-center" data-ng-bind="addJobText"></div>
            </div>
            <div class="modal-body addJob-modal-body row">
                <div class="form-container">
                    <div data-ng-include="'views/form/addJobForm.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
