 <h2 class="third1">username</h2>
   <img class="img" src="">
    <h3 class="third1">Edit Profile</h3>
   
    
    
      <div *ngIf="firstcomponent">
         <div [formGroup]="StudentForm1" >
<md-input-container class="style3">
    <input mdInput placeholder="First Name*" formControlName="firstname" [(ngModel)]="info.firstName">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="Last Name*" formControlName="lastname" [(ngModel)]="info.lastName">
  </md-input-container><br>
  <md-input-container class="style1">
    <input mdInput placeholder="User Name*" formControlName="username" [(ngModel)]="info.userName" readonly>
  </md-input-container><br>
  <md-input-container class="style1">
    <input mdInput placeholder="Email Id*" formControlName="email" [(ngModel)]="info.primaryEmail" readonly>
  </md-input-container><br>
  <button type="button" class="btn btn-info" [disabled]="!StudentForm1.valid"  (click)="next()" >Next</button>
      </div>
    </div>


      <div *ngIf="secondcomponent">
         <div [formGroup]="StudentForm2" >
<md-input-container class="style3">
    <input mdInput placeholder="Contact Number*" formControlName="contactnumber" [(ngModel)]="info.mobile" numbersonly maxlength="10" minlength="10">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="D.O.B*"  formControlName="dob" [(ngModel)]="info.dob">
  </md-input-container><br>
  <md-input-container class="style1">
    <input mdInput placeholder="Address*"  formControlName="address" [(ngModel)]="info.address">
  </md-input-container><br>
  <md-input-container class="style3">
    <input mdInput placeholder="Zipcode*"  formControlName="zipcode" [(ngModel)]="info.zipcode" numbersonly maxlength="6" minlength="6">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="City*"  formControlName="city" [(ngModel)]="info.city">
  </md-input-container><br>
  <md-input-container class="style3">
    <input mdInput placeholder="State*"  formControlName="state" [(ngModel)]="info.state">
  </md-input-container>
   <md-input-container class="style3">
    <input mdInput placeholder="Country*"  formControlName="country" [(ngModel)]="info.country">
  </md-input-container><br>
  <button type="button" class="btn btn-info" [disabled]="!StudentForm2.valid" (click)="next1()" >Next</button>
      </div>
      </div>



      <div *ngIf="thirdcomponent">
      <div  >
  <md-select class="style3" placeholder="Branch*" [(ngModel)]="info.branch" readonly >
  <md-option  [value]="info.branch" readonly >
  {{ info.branch }}
  </md-option>
 
</md-select>
 
   <md-select class="style3" placeholder="Passout*"  [(ngModel)]="info.passoutYear" readonly>
  <md-option *ngFor="let Year of Years" [value]="info.passoutYear" readonly>
    {{ info.passoutYear}}
  </md-option>
</md-select>
 
 <md-select class="style1" placeholder="College Name*"  [(ngModel)]="info.collegeName" readonly>
  <md-option *ngFor="let College of Colleges"  [value]="info.collegeName" readonly>
    {{ info.collegeName }}
  </md-option>
</md-select>
 
  
    <button type="button" class="btn btn-info"  (click)="update()">Submit</button>
 </div>

      </div>
  


