<div data-ng-include="'views/beforeLogin/header/header.html'"></div>
<div class="home-content-container">
    <div class="home-banner">
        <div class="container banner-content-container">
                <div class="banner-content col-xs-6">
                    <div>Growing your</div> 
                    <div>career or a business</div>
                    <div>is an evolution not a revolution.</div>
                </div>
                <div class="col-xs-6 banner-logo-container">
                    <img class="banner-logo" src="images/designer.png" alt="">
                </div>
        </div>
        <div class="container data-container">
        	<div class="data-section-one text-center">
        		Let’s make customer support interaction<br/>more human & more reliable.
        	</div>
        </div>
    </div>
</div>
<div data-ng-include="'views/modals/login-modal.html'"></div>
