<h2 class="font">College Details</h2>
<p class="font">Create your account in easy steps with less information.</p>
<div [formGroup]="CollegeDetailsForm">
  
  <md-input-container class="style1">
    <input mdInput placeholder="College Name*" formControlName="College" [(ngModel)]="info.collegeName">
  </md-input-container><br>
  <md-input-container class="style1">
    <input mdInput placeholder="Address*" formControlName="Address" [(ngModel)]="info.address">
  </md-input-container><br>
  <md-input-container class="style3">
    <input mdInput placeholder="Zipcode*" formControlName="Zipcode" [(ngModel)]="info.zipcode" numbersonly maxlength="6" minlength="6">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="City*" formControlName="City" [(ngModel)]="info.city">
  </md-input-container><br>
  <md-input-container class="style3">
    <input mdInput placeholder="State*" formControlName="State" [(ngModel)]="info.state">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="Country*" formControlName="Country" [(ngModel)]="info.country">
  </md-input-container><br>
   <md-input-container class="style3">
    <input mdInput placeholder="Mobile Number*" formControlName="Mobile" [(ngModel)]="info.mobile" numbersonly maxlength="10" minlength="10">
  </md-input-container>
  <md-input-container class="style3">
    <input mdInput placeholder="Landline Number*" formControlName="Landline" [(ngModel)]="info.landline" numbersonly>
  </md-input-container><br>
  
    <button type="button" [disabled]="!CollegeDetailsForm.valid" (click)="college()" class="btn btn-info">SIGN UP</button>
 
    <div>
    <div>{{message}}</div>
<img class="image" src="../../assets/images/employer.png">
</div>
  
</div>