<div class="forgotPassword-container">
    <div class="slider-content">
        <h3 data-ng-bind="forgotPasswordDetails.properties.heading"></h3>
        <p data-ng-bind="forgotPasswordDetails.properties.paragraph"></p>
    </div>
    <div class="login-image-container text-center">
        <img src="{{userImages.forgotPassword}}" alt="login"/>
    </div>
    <md-content layout-padding class="sidenav-body login-form-container">
        <div data-ng-include="'views/form/forgot-password-form.html'"></div>
    </md-content>
    <div class="login-image-container text-center">
        <img src="{{userImages.loginImage}}" alt="login"/>
    </div>
</div>