<div data-ng-include="'views/header/header.html'"></div>
<div class="full-page setPassword-page">
    <div class="setPassword-content-container parent-container" data-ng-if="!setPasswordSuccess">
        <div class="setPassword-content child-container">
            <div class="modal-title row text-center">
                <h2 data-ng-bind="activationTitle"></h2>
                <p>No problem! Enter your email with instruction to reset your password has been sent to your email id.</p>
                <div class="form-container text-center">
                    <form name="formValidator" class="form-validator" novalidate autocomplete="off" ng-submit="formValidator.$valid">
                        <div class="form-group form-validator-group" data-ng-repeat="(formKey,formField) in formBuildInfo">
                            <div class="form-field-container">
                                <md-input-container class="material-input-container" data-ng-if="formField.title === 'PASSWORD'">
                                    <label class="control-label" data-ng-bind="formField.title"></label>
                                    <input type="{{formField.type}}" id="password" name="password" data-ng-model='formField.formModel' class="form-control" data-ng-required="formField.required" data-ng-pattern="formField.pattern" ng-maxlength="formField.maxLength" ng-minlength="formField.minLength">
                                </md-input-container>
                                <div class="fa fa-info-circle" data-ng-if="formField.title === 'PASSWORD'">
                                    <md-tooltip md-direction="bottom" data-ng-bind="formField.patternValidation"></md-tooltip>
                                </div>
                                <md-input-container class="material-input-container margin-right" data-ng-if="formField.title === 'CONFIRM PASSWORD'">
                                    <label class="control-label" data-ng-bind="formField.title"></label>
                                    <input type="{{formField.type}}" id="confirmPassword" name="confirmPassword" data-ng-model='formField.formModel' class="form-control" data-ng-required="formField.required" pw-check='password' data-ng-pattern="formField.pattern">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="inactive-button-container" data-ng-class="{'button-container':formValidator.$valid}">
                            <div class="text-binder text-center" data-ng-bind="confirm" data-ng-click="setPassword(!formValidator.$valid)"></div>
                        </div>
                        <div class="interactive-container" ng-show='formValidator.$error'>
                            <div class="invalid-credentails-container" ng-show="!formValidator.confirmPassword.$error.required && formValidator.confirmPassword.$error.pwmatch"><span>Passwords doesn't match</span></div>
                        </div>
                        <div class="interactive-container" data-ng-if="setPasswordFailed">
                            <div class="invalid-credentails-container"><span data-ng-bind="setPasswordFailed"></span></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="login-image-container hidden-xs">
            <img src="{{passwordBanner}}" class="img-responsive" alt="login" />
        </div>
    </div>
    <div class="setPassword-content-container parent-container" data-ng-if="setPasswordSuccess">
        <div class="setPassword-content child-container">
            <div class="modal-title row text-center">
                <h3 data-ng-bind="setPasswordSuccess"></h3>
            </div>
        </div>
    </div>
</div>
