<div class="footer-container">
	<div class="footer-content-container container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-4">
				<a href="" target="_blank"><img class="companyLogo" src="../assets/images/footerCompanyLogo.png" alt="Owner"></a>
				<div class="cs-footer-links" data-ng-bind="footerContent.footerContent.copyRight">2017 Lync Digital, Inc, All rights reserved</div>
				<a href="http://www.lyncdigital.com/" target="_blank">
					<div class="cs-footer-links pointer" data-ng-bind="footerContent.footerContent.website">www.lyncdigital.com</div>
				</a>
				<!--<ul class="social-links">
					<li class="fa fa-twitter pointer"></li>
					<li class="fa fa-facebook pointer"></li>
					<li class="fa fa-linkedin pointer"></li>
				</ul>-->
			</div>
			<div class="col-md-2">
				<h5 class="title">ABOUT</h5>

				<p>Our Mission</p>
				<p>Company</p>
				<p>Jobs
					<p>
						<p>Blog
							<p>

			</div>
			<div class="col-md-2">
				<h5 class="title">SUPPORT</h5>
				
					<p>FAQ</p>
					<p>Help Center</p>
					<p>Terms Of Service</p>
					<p>Privacy Policy</p>
				
			</div>
			<div class="col-md-2">
				<h5 class="title">CONTACT</h5>
				
						<p> Email Us</p>
					<p> Live Chat</p>

			
			</div>
			<!--<div class="col-sm-2" data-ng-repeat="(title, links) in footerContent.footerContent.quickLinks">
                <div class="cs-footer-links-header" data-ng-bind="title"></div>
                <div class="cs-footer-links pointer" data-ng-repeat="link in links">
                    <a href="{{link.link}}" target="_blank"><div data-ng-bind="link.name"></div></a>
                </div>
            </div>-->
		</div>
	</div>
</div>