$white: #FFFFFF;
$black: #000000;
$nightRider: #333333;
$americano: #72808E;
$dodgerBlue: #2D8CFF;
$greenBanner: #7EBD42;
$footerBackground: #1F2532;
$seaShell: #F1F1F1;
$lightBlack: #353535;
$darkGray: #4A4A4A;
$gray81: #CFCFCF;
$darkRed: #EC5524;
$theme: #2fa1da;
