.login-modal {
    .login-modal-dialog {
        .login-modal-content {
            .login-modal-header {
                border-bottom: none;
            }
            .login-modal-body {
                padding-bottom: 40px;
                padding-top: 0px;
                .login-image-container {
                    .logo-binder {
                        height: 146px;
                        width: 180px;
                        padding: 0px 10px;
                    }
                    .button-container {
                        cursor: pointer;
                        width: 120px;
                        height: 35px;
                        border-radius: 100px;
                        margin-left: 28px;
                        padding-top: 8px;
                        .role-binder {
                            color: $white;
                        }
                    }
                    .employer-button {
                        background-image: linear-gradient(to bottom, #3dbdb6, #0089ce);
                    }
                    .student-button {
                        background-image: linear-gradient(to bottom, #b3e090, #77b04b);
                    }
                    .college-button {
                        background-image: linear-gradient(to top, #ffb347, #ffcc33);
                    }
                }
                .navigation-container {
                    color: #484848;
                    font-size: 18px;
                    padding: 20px 40px;
                    .navigator {
                        opacity: 0.5;
                        cursor: pointer;
                        font-size: 40px;
                    }
                    .navigation-header {
                        display: inline-block;
                        padding: 10px;
                        border-bottom: solid 2px #35a1da;
                    }
                }
            }
            .login-form-container {
                padding-left: 30px;
                .form-validator {
                    .form-validator-group {
                        margin-bottom: -25px;
                        .form-field-container {
                            border-left: solid 1px #979797;
                            padding-left: 40px;
                            .material-input-container {
                                .control-label {}
                                .form-control {
                                    width: 270px;
                                }
                            }
                        }
                    }
                    .forgot-password {
                        cursor: pointer;
                        color: #4a4a4a;
                        font-size: 12px;
                        margin-right: 38px;
                    }
                    .button-container {
                        margin-right: 120px;
                        margin-left: -110px;
                    }
                    .employer-button {
                        background-image: linear-gradient(to bottom, #3dbdb6, #0089ce);
                    }
                    .student-button {
                        background-image: linear-gradient(to bottom, #b3e090, #77b04b);
                    }
                    .college-button {
                        background-image: linear-gradient(to top, #ffb347, #ffcc33);
                    }
                }
            }
        }
    }
}
