<div [formGroup]="UserDetailsForm">
<h3 class="forgotpswd">Forgot Password?</h3>
<p class="align">No problem! Enter your email with instruction to reset your password has been sent to your email id.</p>
<div>
<img class="imagess" src="../../assets/images/successMessage.png">
</div>
 <md-input-container class="style1">
    <input mdInput placeholder="Email Id*" formControlName="Email" [(ngModel)]="info.email" >
  </md-input-container>

 <button type="button" [disabled]="!UserDetailsForm.valid" class="btn btn-info" (click)="confirm()">Send Request</button>
 <div >
<img class="image" src="../../assets/images/josuSignIn.png">
</div>
</div>