.forgotpswd{
        font-size: 24px;
            margin-top: 20px;
             margin-bottom: 10px;
             margin-left: 76px;
}
.align{
      font-size: 18px;  
      margin: 0 0 10px;
          color: #353535;
    text-align: center;
}
.imagess{
        vertical-align: middle;
    border: 0;
       width: 212px;
    vertical-align: middle;
    height: 131px;
    margin: 27px;
    margin-left: 56px;

}
.style1{
  margin-left: 33px;
width: 290px;
margin-top: 10px;
  
 
   
}

button.btn-info{
    margin-left: 55px;
    margin-top: 27px;
    padding: 11px;
     width: 264px;
    margin: center;
   border-radius: 38px;
     margin-bottom: 22px;
   
}
img.image{
    width: 250px;
     margin-left: 46px;
}