.addJob-form-validator {
    .form-validator-group {
        .form-field-container {
            .material-input-container {
                margin-left: 16px !important;
                margin-right: 16px !important;
                .control-label {}
                .form-control {
                    width: 100%;
                    box-shadow:none;
                }
                .form-control:focus {
                  
                    box-shadow: none;
                }
            }
            .half-width {
                width: 250px;
            }
            .full-width {
                width: 525px;
            }
        }
    }
    .button-container {
        margin-top: 0px;
    }
}
